<p>content of index.erb</p>

<form method="post" action="/subscribe">
  <input type="email" name="email" placeholder="Your email address...">
  <input type="submit" name="submit" value="Submit">
</form>
